
<style>
bady div {
	margin: 0px;
	padding: 0px;
}

.div_weather { /* 	position: absolute; */
	float: right;
	right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width:910px) and (min-width:480px) {
}

@media screen and (max-width:480px) {
	.div_weather {
		position: absolute;
		float: none;
		width: 116px;
		top: 70px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
</style>
<body>
	<!-- 天气组件 -->
	<div class="div_weather ">
		<div style="position: relative;">
			<iframe name="weather_inc"
				src="http://i.tianqi.com/index.php?c=code&id=99" width="130"
				height="36" frameborder="0" marginwidth="0" marginheight="0"
				scrolling="no" disabled="disabled"></iframe>
			<div
				style="position: absolute; top: 0px; background: #6f5499; FILTER: alpha(opacity =           0); -moz-opacity: 0; opacity: 0; width: 100%; height: 100%; margin: 0px;"
				alt="遮罩层"></div>
		</div>
	</div>

	<div class="test" style="width: 100%;">
		<div class="jumbotron">
			<h1>Hello, ${user.username}!</h1>
			<p>${user.username}This is a simple hero unit, a simple
				jumbotron-style component for calling extra attention to featured
				content or information.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button"
					onclick="clibtn()">Learn more</a>
			</p>
		</div>
	</div>
	<div class="test" style="width: 100%;">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>This is a simple hero unit, a simple jumbotron-style component
				for calling extra attention to featured content or information.</p>
			<p>
				<a id="btn_one" class="btn btn-primary btn-lg" href="#"
					role="button">Learn more</a>
			</p>
		</div>
	</div>
	<div class="test" style="width: 100%;">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>This is a simple hero unit, a simple jumbotron-style component
				for calling extra attention to featured content or information.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more</a>
			</p>
		</div>
	</div>
	<script type="text/javascript">
// 	$("#btn_one").click(function(){
// 		alert("点击2")	})
					
</script>
</body>
