
<div class="panel-heading">
	$!{title}
	<!-- 	<button type="button" class="close close_panel"> -->
	<!-- 		<span>&times;</span> -->
	<!-- 	</button> -->
</div>

<div class="" style="width:100%;overflow: auto">
	<!-- 头像框 -->
	<div style="width: 100%;">
		<div class=""
			style="width: 100%; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; overflow: hidden; box-shadow: 5px 5px 5px #C0C0C0;">
			<img alt="头像" style="width: 100%;"
				src="#if(${user.himg})#springUrl('/${user.himg}') #else #springUrl('/images/headM.png')#end">
		</div>
	</div>
</div>



<div style="bottom: 10px; position: absolute; right: 10px;">
	<span type="button" class="btn btn-default close_panel_btn"
		style="bottom: 10px; float: right; right: 10px; margin: 2px;">关闭</span>
	<span type="button" class="btn btn-primary"
		style="bottom: 10px; float: right; right: 10px; margin: 2px;">保存</span>
</div>

<script>
	$('.close_panel_btn,.close_panel').on("click", function() {
		$('#window-viwe').empty().hide();
	});
</script>