<style>
.context_div .thumbnail {
	transition: all 0.3s;
}

.context_div .thumbnail:HOVER {
 	transform: scale(1.05); 
}
.context_div .thumbnail:ACTIVE {
	transform: scale(0.8);
}
</style>
<link href="#springUrl('/css/bootstrap-select.min.css')"
	rel="stylesheet">
<script src="#springUrl('/js/bootstrap-select.min.js')"></script>

<div class="bg_shadow charts_a"
	style="width: 100%; height: 100%; border-radius: 8px 8px 8px 8px; padding: 10px 10px 10px 10px;">
	<!-- 筛选 -->
	<div class="row">
		<!-- 				搜索输入框 -->
		<div class="col-lg-5 col-sm-5 col-md-5 col-xs-5">
			<div class="input-group">
				<input type="input" id="name-search" name="uname" class="form-control"
					placeholder="快速搜索..."> <span class="input-group-btn">
					<button class="btn btn-default" id="search_btn" type="button">Search</button>
				</span>
			</div>
		</div>
		<!--  菜单等级下拉框 -->
		<div class="btn-group">
				<select id="department_select" class="btn btn-primary  form-control" name="department" data-live-search="false" ><!-- disabled -->
				</select> 
		</div>
		<div class="btn btn-warning " id="edit_btn">编辑</div>
		<div class="btn btn-success " id="add_btn">添加</div>
		<div class="btn btn-danger" id="del_btn">删除</div>
		<!-- 				deleteTree() -->
	</div>

	<!-- 内容 -->
	<div class="row context_div" id="context_div" style="margin-top: 10px;">
		
	</div>

</div>




<script type="text/javascript">
	$(function() {
		$('#context_div').load("#springUrl('/word/getusercard.do')")
		
		$('#department_select').load("#springUrl('/word/getAllDepartment.do')")
	})

	// ******************************************************
	
	
	$('#department_select').change(function(){loadUserCard()});
	$('#search_btn').click(function(){loadUserCard()});
	
	function loadUserCard(){
		var d = $('#department_select').val();
		var n = $('#name-search').val();
		$('#context_div').load("#springUrl('/word/getusercard.do')",{name:n,id:d})
	}
</script>