<style>
#form_table td {
	text-align: center;
	line-height: 2.5;
	vertical-align: top;
}
</style>
<link href="#springUrl('/css/bootstrap-select.min.css')"
	rel="stylesheet">
<link href="#springUrl('/css/bootstrapValidator.css')" rel="stylesheet">
<script src="#springUrl('/js/bootstrap-select.min.js')"></script>
<div class="modal-dialog" style="z-index: 9999">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">
				权限 | 添加<input type='hidden'></input>
			</h4>
		</div>
		<div class="modal-body">
			<form id="form_table" action="">
				<table class="table">
					<tbody>
						<tr>
							<td>权限名</td>
							<td><input type="input" name="name" id="name"
								class="form-control" placeholder="NULL"></td>
						</tr>
						<tr>
							<td>操作动作</td>
							<td><input type="input" name="action" id="action"
								class="form-control" placeholder="NULL"></td>
						</tr>
						<tr>
							<td>权限等级</td>
							<td>
								<select id="level" class="selectpicker"
								name="level" data-live-search="false"></select>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭
			</button>
			<button type="button" class="btn btn-primary" id="submit_btn">提交更改</button>
		</div>
	</div>
</div>
<script src="#springUrl('/js/bootstrapValidator.js')"></script>
<script>
	$(function() {
		var select = $("#level");
		select.append("<option value='1'>一级权限</option>");
		select.append("<option value='2'>二级权限</option>");
		select.append("<option value='3'>三级权限</option>");
		
		$('#level').selectpicker('val', 3); 
		$('#level').selectpicker({  
            noneSelectedText : '请选择',//默认显示内容  
            	width:'100%'//默认显示内容  
        });
		$('#level').selectpicker('refresh')
		

	});

	$('#submit_btn').click(function() {
		
		if (confirm("确认新增权限？")) {
			var params = $("#form_table").serialize();
			$.ajax({
				type : "POST",
				url : "#springUrl('/word/addPermission.do')",
				data : params,
				success : function(msg) {
					alert(msg);
					load();
					$('#myModal').empty();
					$('#myModal').modal('hide');
				},
				error : function(msg) {
					alert(msg)
				}
			});
		}
	})
</script>