
<style>
    #form_table td {
        text-align: center;
        line-height: 2.5;
        vertical-align: top;
    }
   #form_table td .btn-group {
       width: 100%;
   }
</style>
<link href="#springUrl('/css/bootstrapValidator.css')" rel="stylesheet">
<script src="#springUrl('/js/bootstrapValidator.js')"></script>
<div class="modal-dialog" style="z-index: 9999">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
                客户 | 添加<input type='hidden'></input>
            </h4>
        </div>
        <div class="modal-body">
            <form id="form_table" action="" class="validForm form-horizontal">
                <table class="table row">
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">客户名称</label>
                                <div class="col-lg-8">
                                    <input type="input" name="name" id="name"
                                           class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">联系电话</label>
                                <div class="col-lg-8 ">
                                    <input type="input" name="phone" id="phone"
                                            class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">微信</label>
                                <div class="col-lg-8">
                                    <input type="input" name="wechat" id="wechat"
                                           class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">QQ</label>
                                <div class="col-lg-8 ">
                                    <input type="input" name="qq" id="qq"
                                           class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">Email</label>
                                <div class="col-lg-8">
                                    <input type="input" name="email" id="email"
                                           class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">地址</label>
                                <div class="col-lg-8 ">
                                    <input type="input" name="address" id="address"
                                           class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">客户类型</label>
                                <div class="col-lg-8">
                                    <select id="customerType" class="selectpicker selectclass2" name="customerType" data-live-search="false"></select>
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">客户来源</label>
                                <div class="col-lg-8 ">
                                    <select id="source" class="selectpicker selectclass2" name="source" data-live-search="false"></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">客户状态</label>
                                <div class="col-lg-8">
                                    <select id="status" class="selectpicker selectclass2" name="status" data-live-search="false"></select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">公司</label>
                                <div class="col-lg-8">
                                    <input type="input" name="company" id="company" class="form-control" placeholder="NULL">
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            <div class="form-group center-block">
                                <label class="col-lg-4 control-label" style="padding-top:0px">公司规模</label>
                                <div class="col-lg-8 ">
                                    <select id="scaleOfCompany" class="selectpicker selectclass2" name="scaleOfCompany" data-live-search="false"></select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-lg-6" colspan="2">
                            <div class="form-group center-block">
                                <label class="col-lg-2 control-label" style="padding-top:0px">备注</label>
                                <div class="col-lg-10 ">
                                    <textarea name="remark" id="remark" class="form-control" placeholder="NULL"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" id="submit_btn">提交</button>
        </div>
    </div>
</div>

<script>
    $(function() {
        //数据赋值
        var status = $("#status");
        var customerType = $("#customerType");
        var source = $("#source");
        var scaleOfCompany = $("#scaleOfCompany");

        scaleOfCompany.append("<option value=''>请选择</option>");
        scaleOfCompany.append("<option value='10人以内' >10人以内</option>");
        scaleOfCompany.append("<option value='10-20人' >10-20人</option>");
        scaleOfCompany.append("<option value='50-200人' >50-200人</option>");
        scaleOfCompany.append("<option value='200人以上' >200人以上</option>");

        // 客户状态
        status.append("<option value=''>请选择</option>");
        status.append("<option value='潜在客户' >潜在客户</option>");
        status.append("<option value='意向客户' >意向客户</option>");
        status.append("<option value='成交客户' >成交客户</option>");
        status.append("<option value='无效客户' >无效客户</option>");
        // 客户类型
        customerType.append("<option value=''>请选择</option>");
        customerType.append("<option value='潜在客户' >潜在客户</option>");
        customerType.append("<option value='普通客户' >普通客户</option>");
        customerType.append("<option value='VIP客户' >VIP客户</option>");
        customerType.append("<option value='代理商' >代理商</option>");
        customerType.append(" <option value='合作伙伴' >合作伙伴</option>");
        // 客户来源
        source.append("<option value=''>请选择</option>");
        source.append("<option value='电话来访' >电话来访</option>");
        source.append("<option value='客户介绍' >客户介绍</option>");
        source.append("<option value='媒体宣传' >媒体宣传</option>");
        source.append("<option value='促销活动' >促销活动</option>");
        source.append("<option value='老客户介绍' >老客户介绍</option>");
        source.append("<option value='互联网' >互联网</option>");
        source.append("<option value='公开招标' >公开招标</option>");
        source.append("<option value='其它' >其它</option>");



        status.selectpicker({
            noneSelectedText : '客户状态'//默认显示内容
        });
        customerType.selectpicker({
            noneSelectedText : '客户类型'//默认显示内容
        });
        source.selectpicker({
            noneSelectedText : '客户来源'//默认显示内容
        });
        scaleOfCompany.selectpicker({
            noneSelectedText : '公司规模'//默认显示内容
        });
        $(".selectclass2").selectpicker({
            width:"100%"
        });

        $('.selectclass2').selectpicker('val','');
        $('.selectclass2').selectpicker('refresh');

        $('.validForm').bootstrapValidator({
            message: '不能为空',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '请输入你的姓名'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: '请输入有效的电子邮箱'
                        },
                        notEmpty: {
                            message: '请输入有效的电子邮箱'
                        }
                    }
                }
            }
        });
    });




    $('#submit_btn').click(function() {
        if(!check()){
            return false;
        }
        if (confirm("确认添加客户信息？")) {
            var params = $("#form_table").serialize();
            $.ajax({
                type : "POST",
                url : "#springUrl('/word/addClien.do')",
                data : params,
                success : function(msg) {
                    $('#myModal').empty();
                    $('#myModal').modal('hide');
                    alertMsg('success',msg);
                    loadByFiltrate();
                },
                error : function(msg) {
                    alertMsg('error',msg);
                }
            });
        }
    })
</script>