#set($count=1+$count_index)
#foreach($c in $cliens)
<tr cid="$c.id" class="trlist">
    <td style="min-width: 30px">${count}</td>
    <td>$!c.name</td>
    <td>#if($c.phone&&$c.phone!="")$c.phone#else - #end</td>
    <td>#if($c.wechat&&$c.wechat!="")$c.wechat#else - #end</td>
    <td>#if($c.qq&&$c.qq!="")$c.qq#else - #end</td>
    <td>#if($c.email&&$c.email!="")$c.email#else - #end</td>
    <td>$!date.format('yyyy-MM-dd',$!c.createTime)</td>
    <td>$!c.customerType</td>
    <td>#if($c.company&&$c.company!="")$c.company#else - #end</td>
    <td>#if($c.scaleOfCompany&&$c.scaleOfCompany!="")$c.scaleOfCompany#else - #end</td>
    <td>$!c.source</td>
    <td>#if($c.returnvisitTime&&$c.returnvisitTime!="")$!date.format('yyyy-MM-dd',$!c.returnvisitTime)#else - #end</td>
    <td>$!c.cuser.name</td>
    <td>#if($c.remark&&$c.remark!="")<span data-toggle="tooltip" title="$c.remark" data-placement="left">$c.remark</span>#else - #end</td>
    <td>$!c.status</td>
</tr>
    #set($count = $count+1)
#end

<script>
    //阻止浏览器默认右键点击事件
    // $("#tbody_content").bind("contextmenu", function(){
    //     return false;
    // })
    // $("#tbody_content td").mousedown(function(e) {
    //右键为3
    // if (3 == e.which) {
    //     console.log($(this).closest('tr').attr("cid"))
    //     var cid = $(this).closest('tr').attr("cid");
    // toastr.info("'Another action' clicked!");


    // }
    // else if (1 == e.which) {
    //         //左键为1
    //       alert(1)
    //     }
    // })

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
        var menu = new BootstrapMenu('.trlist', {
            menuEvent: 'right-click',
            actionsGroups: [
                ['editAction'],
                ['deleteAction']
            ],
            fetchElementData: function (e) {
                return e;
            },
            actions: {
                editAction: {
                    name: '编辑',
                    iconClass: "fa-edit",
                    onClick: function (row) {
                        var cid = $(row).attr('cid');
                        $('#myModal').load("#springUrl('/word/updataclienManagePage.do')", {id: cid}, function () {
                            $('#myModal').modal('show');
                        })
                    }
                },
                deleteAction: {
                    name: '删除',
                    iconClass: "fa-trash-o",
                    onClick: function (row) {
                        var cid = $(row).attr('cid');
                        if (confirm("确定要删除此客户？")) {
                            $.post("#springUrl('/word/deleteClien.do')", {
                                id: cid
                            }, function (msg) {
                                alert(msg);
                                loadByFiltrate();
                            });
                        }
                    }
                }
            }
        });
    })


</script>