
#foreach($c in $cliens)
<tr>
    <td>$!c.name</td>
    <td>$!c.phone</td>
    <td>$!c.wechat</td>
    <td>$!c.qq</td>
    <td>$!c.email</td>
    <td>$!c.createTime</td>
    <td>$!c.customerType</td>
    <td>$!c.company</td>
    <td>$!c.scaleOfCompany</td>
    <td>$!c.source</td>
    <td>2017-12-9</td>
    <td>$!c.cuser.name</td>
    <td>#if($c.remark)$c.remark#else 无 #end</td>
    <td>$!c.status</td>
</tr>
#end


<script>


</script>