
<style>
    #form_table td {
        text-align: center;
        line-height: 2.5;
        vertical-align: top;
    }
   #form_table td .btn-group {
       width: 100%;
   }
</style>
<div class="modal-dialog" style="z-index: 9999">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
                客户 | 添加<input type='hidden'></input>
            </h4>
        </div>
        <div class="modal-body">
            <form id="form_table" action="">
                <table class="table">
                    <tbody>
                    <tr>
                        <input type="hidden" name="id" value="$!clien.id">
                        <td>客户名称</td>
                        <td><input type="input" name="name" id="name" value="$!clien.name"
                                   class="form-control" placeholder="NULL"></td>
                        <td>联系电话</td>
                        <td><input type="input" name="phone" id="phone" value="$!clien.phone"
                                   class="form-control" placeholder="NULL"></td>
                    </tr>
                    <tr>
                        <td>微信</td>
                        <td><input type="input" name="wechat" id="wechat" value="$!clien.wechat"
                                   class="form-control" placeholder="NULL"></td>
                        <td>QQ</td>
                        <td><input type="input" name="qq" id="qq" value="$!clien.qq"
                                   class="form-control" placeholder="NULL"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="input" name="email" id="email" value="$!clien.email"
                                   class="form-control" placeholder="NULL"></td>
                        <td>地址</td>
                        <td><input type="input" name="address" id="address" value="$!clien.address"
                                   class="form-control" placeholder="NULL"></td>


                    </tr>
                    <tr>
                        <td>客户类型</td>
                        <td>
                            <div class="btn-group">
                                <select id="customerType" class="selectpicker selectpicker2" name="customerType" data-live-search="true"></select>
                            </div>
##                            <input type="input" name="customerType" id="customerType"
##                                   class="form-control" placeholder="NULL">
                        </td>
                        <td>客户来源</td>
                        <td>
                            <div class="btn-group">
                                <select id="source" class="selectpicker selectpicker2" name="source" data-live-search="true"></select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>客户状态</td>
                        <td>
                            <div class="btn-group">
                                <select id="status" class="selectpicker selectpicker2" name="status" data-live-search="true"></select>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>公司</td>
                        <td><input type="input" name="company" id="company" value="$!clien.company"
                                   class="form-control" placeholder="NULL"></td>
                        <td>公司规模</td>
                        <td>
                            <div class="btn-group">
                                <select id="scaleOfCompany" class="selectpicker selectclass2" name="scaleOfCompany" data-live-search="false"></select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>备注</td>
                        <td colspan="3">
                            <textarea name="remark" id="remark" class="form-control">$!clien.remark</textarea>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" id="submit_btn">提交</button>
        </div>
    </div>
</div>

<script>
    $(function() {
        //数据赋值
        var status = $("#status");
        var customerType = $("#customerType");
        var source = $("#source");
        var scaleOfCompany = $("#scaleOfCompany");
        // 公司规模
        scaleOfCompany.append("<option value=''>请选择</option>");
        scaleOfCompany.append("<option value='10人以内' >10人以内</option>");
        scaleOfCompany.append("<option value='10-20人' >10-20人</option>");
        scaleOfCompany.append("<option value='50-200人' >50-200人</option>");
        scaleOfCompany.append("<option value='200人以上' >200人以上</option>");
        // 客户状态
        status.append("<option value='潜在客户' >潜在客户</option>");
        status.append("<option value='意向客户' >意向客户</option>");
        status.append("<option value='成交客户' >成交客户</option>");
        status.append("<option value='无效客户' >无效客户</option>");
        // 客户类型
        customerType.append("<option value='潜在客户' >潜在客户</option>");
        customerType.append("<option value='普通客户' >普通客户</option>");
        customerType.append("<option value='VIP客户' >VIP客户</option>");
        customerType.append("<option value='代理商' >代理商</option>");
        customerType.append(" <option value='合作伙伴' >合作伙伴</option>");
        // 客户来源
        source.append("<option value='电话来访' >电话来访</option>");
        source.append("<option value='客户介绍' >客户介绍</option>");
        source.append("<option value='媒体宣传' >媒体宣传</option>");
        source.append("<option value='促销活动' >促销活动</option>");
        source.append("<option value='老客户介绍' >老客户介绍</option>");
        source.append("<option value='互联网' >互联网</option>");
        source.append("<option value='公开招标' >公开招标</option>");
        source.append("<option value='其它' >其它</option>");

        status.selectpicker('val','$!clien.status');
        customerType.selectpicker('val','$!clien.customerType');
        source.selectpicker('val','$!clien.source');
        scaleOfCompany.selectpicker('val','$!clien.scaleOfCompany');

        $(".selectpicker2").selectpicker({
            width:"100%"
        });
        $('.selectpicker2').selectpicker('refresh');


    });



    $('#submit_btn').click(function() {
        if(!check()){
            return false;
        }
        if (confirm("确认修改客户信息？")) {
            var params = $("#form_table").serialize();
            $.ajax({
                type : "POST",
                url : "#springUrl('/word/updataClien.do')",
                data : params,
                success : function(msg) {
                    $('#myModal').empty();
                    $('#myModal').modal('hide');
                    alert(msg);
                    loadByFiltrate();
                },
                error : function(msg) {
                    alertMsg('error','修改失败');
                }
            });
        }
    })
</script>