<style>
#form_table td {
	text-align: center;
	line-height: 2.5;
	vertical-align: top;
}
.radio_labels{
	float:left;
	margin:3px 3px;
}
.radio_labels span{
	margin:1px 3px;
}
</style>
<link href="#springUrl('/css/bootstrap-select.min.css')"
	rel="stylesheet">
<link href="#springUrl('/css/bootstrapValidator.css')" rel="stylesheet">
<link rel="stylesheet" href="#springUrl('/css/jquery-labelauty.css')">
<script src="#springUrl('/js/bootstrap-select.min.js')"></script>
<div class="modal-dialog" style="z-index: 9999">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">
				角色 | 编辑<input type='hidden'></input>
			</h4>
		</div>
		<div class="modal-body">
			<form id="form_table" action="">
				<table class="table">
					<tbody>
					<input type="hidden" name="roleId" value="$role.roleId"></input>
						<tr>
							<td>角色名</td>
							<td><input type="input" name="roleName" id="roleName"
								class="form-control" placeholder="NULL" value="$role.roleName"></td>
						</tr>
						<tr>
							<td>角色编码</td>
							<td><input type="input" name="roleCode" id="roleCode"
								class="form-control" placeholder="NULL" value="$role.roleCode"></td>
						</tr>
						<tr>
							<td>描述</td>
							<td><input type="input" name="roleDesc" id="roleDesc"
								class="form-control" placeholder="NULL" value="$role.roleDesc"></td>
						</tr>
						<tr>
							<td>状态</td>
							<td>
								<div class="btn-group">
								   <label class="checkbox-inline btn btn-default">
								      <input type="radio" name="status" 
								         value="1" checked > 可用</input>
								   </label>
								   <label class="checkbox-inline btn btn-default">
								      <input type="radio" name="status" 
								         value="0"> 禁用</input>
								   </label>
								</div>
							</td>
						</tr>
						<tr>
							<td>菜单权限</td>
							<td>
								<div class="btn-group" style="max-width: 350px;">
								#foreach($menu in $allMenus)
									<input type="checkbox" name="menus" class="labelauty"
										id="labelautym-$menu.rightCode" value="$menu.rightCode" mid="$menu.rightCode" pid="$!menu.rightParentCode" onchange="change(this,$!menu.rightParentCode)" style="display: none;"> 
										<label
										for="labelautym-$menu.rightCode" class="radio_labels"> <span
										class="labelauty-unchecked">$menu.rightText</span> <span
										class="labelauty-checked">$menu.rightText</span>
									</label>
								#end
								</div>
							</td>
						</tr>
						<tr>
							<td>操作权限</td>
							<td>
								<div class="btn-group" style="max-width: 350px;">
									#foreach($permission in $allPermission)
									<input type="checkbox" name="permissions" class="labelauty"
										id="labelautyp-$permission.id" value="$permission.id" style="display: none;"> 
										<label
										for="labelautyp-$permission.id" class="radio_labels"> <span
										class="labelauty-unchecked">$permission.name</span> <span
										class="labelauty-checked">$permission.name</span>
									</label>
								#end
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭
			</button>
			<button type="button" class="btn btn-primary" id="submit_btn">提交更改</button>
		</div>
	</div>
</div>
<script src="#springUrl('/js/bootstrapValidator.js')"></script>
<script src="#springUrl('/js/jquery-labelauty.js')"></script>
<script>
	$(function() {
		#foreach($m in $menus)
			$("[name='menus']:checkbox[value='$m.rightCode']").attr('checked','true');
		#end
		#foreach($p in $permissions)
			$("[name='permissions']:checkbox[value='$p.id']").attr('checked','true');
		#end
		
		$("[name='status']:radio[value='$role.status']").attr("checked","true")

	});

	/**菜单权限复选框控制
	*/
	function change(e){
		var pid = $(e).attr("pid");
		var mid = $(e).attr("mid")
		var flag = $(e).prop('checked');
		if(null!=pid&&pid!=""){
			if(flag){
				$("[name='menus']:checkbox[value='"+pid+"']").prop('checked',true);
			}
		}
		if(!flag){
			$("[name='menus']:checkbox[pid='"+mid+"']").prop('checked',false);
		}
	}
	
	
	$('#submit_btn').click(function() {
// 		$("[name='menus']:checked").each(function(){
// 			console.log($(this).val())
// 		})
// 		return;
		if (confirm("确认修改角色信息？")) {
			var params = $("#form_table").serialize();
			$.ajax({
				type : "POST",
				url : "#springUrl('/word/updataRole.do')",
				data : params,
				success : function(msg) {
					alert(msg);
					load();
					$('#myModal').empty();
					$('#myModal').modal('hide');
				},
				error : function(msg) {
					alert(msg)
				}
			});
		}
	})
</script>