<div class="bg_shadow charts_a" style="width: 100%;">
	<div id="charts" style="width: 100%; height: 100%; margin-bottom: 1px"></div>
</div>


<script type="text/javascript">
$(function(){
	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('charts'));
	var k = [];
	var v = [];
	$.ajax({
		type : "post",
		async : false, //同步执行
		url : "#springUrl('/user/getloginrecords.do')",
		data : {},
		dataType : "json", //返回数据形式为json
		success : function(json) {
			if (json) {
				
				for ( var key in json) {
					k.push(key);
					v.push(json[key]+"")
				}
			}
		},
		error : function(errorMsg) {
			alert("不好意思,图表请求数据失败啦!");
			myChart.hideLoading();
		}
	})
	// 指定图表的配置项和数据
	var option = {
		title : {
			text : '近30天登录记录',
			x : 'center'
		},
		tooltip : {
			formatter : '{b} 登录 {c} 次  '
		},
		legend : {
			right : 10,
			data : [ '次/天' ],
			textStyle : {
				fontSize : 10
			}
		},
		xAxis : {
			data : k
// 				(function() {
// 				var arr = [];
// 				$.ajax({
// 					type : "post",
// 					async : false, //同步执行
// 					url : "#springUrl('/text.json')",
// 					data : {},
// 					dataType : "json", //返回数据形式为json
// 					success : function(json) {
// 						if (json) {
// 							for ( var key in json) {
// 								arr.push(key);
// 							}
// 						}
// 					},
// 					error : function(errorMsg) {
// 						alert("不好意思,图表请求数据失败啦!");
// 						myChart.hideLoading();
// 					}
// 				})
// 				console.log(arr)
// 				return arr;
// 			})()

		},
		yAxis : {},
		series : [ {
			name : '次/天',
			type : 'bar',
			data : v

		} ],
		dataZoom : [ {
			type : 'slider', 
			start : 20,
			end : 100
		}, { 
			type : 'inside',
			start : 20, 
			end : 80
		} ],
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
	//浏览器宽高改变时重置图标尺寸 
	window.onresize = function() {
		myChart.resize();
	};
})
</script>