<!-- <li role="presentation" class="dropdown active"><a class="dropdown-toggle" -->
<!-- 	data-toggle="dropdown" href="#" role="button" aria-haspopup="true" -->
<!-- 	aria-expanded="false">客户管理<span class="caret"></span></a> -->
<!-- 	<ul class="dropdown-menu"> -->
<!-- 		<li role="presentation"><a href="#">权限管理</a></li> -->
<!-- 	</ul></li> -->
<style>
     #navigation_ul li{
        text-align: center;
    }

</style>
<li role="presentation" class="active"><a href="#"></a></li>
#foreach($m in $menulist)
	#if(${m.menus})
		<li role="presentation" class="dropdown"><a class="dropdown-toggle"
		data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
		aria-expanded="false">$m.name<span class="caret"></span></a>
			<ul class="dropdown-menu">
			#foreach($ms in ${m.menus})
				<li role="presentation"><a onclick=#if($!ms.url)"returnpage('$!ms.url',this)" #else "#"#end>$ms.name</a></li>
			#end
			</ul>
		</li>
	#else
		<li role="presentation" class=""><a onclick=#if($!m.url)"returnpage('$!m.url',this)" #else "#"#end>$m.name</a></li>
	#end
#end

<script type="text/javascript">
	/*隐藏/显示菜单导航栏*/
	function nav_control() {
		$('.nav_div').toggle(300);
		blurback();
	}

	$(".nav_list>ul>li").click(function() {
		$(".nav_list li").removeClass("active")
		$(this).addClass("active")
	})
	
	function returnpage(link,li){
		loadingPage();
		var menuText = li.innerHTML;
		if($(li).closest("ul").hasClass("dropdown-menu")){
			var menuText = $(li).closest("ul").prev().text()+'>>'+menuText;
		}
		$('.position_span').html(menuText);//“当前位置”变化
		var href = "#springUrl('/')"+link;
		$('.word_div').load(href,function(){initPage()});
	}
</script>