<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oumuv.dao.ClienEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oumuv.entity.ClienEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="contact_time" property="contactTime" jdbcType="TIMESTAMP" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="scale_of_company" property="scaleOfCompany" jdbcType="VARCHAR" />
    <result column="returnvisit_time" property="returnvisitTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, phone, address, wechat, qq, status, contact_time, customer_type, email, 
    company, department, source, scale_of_company, returnvisit_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from clien_info
    where id = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from clien_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oumuv.entity.ClienEntity" >
    insert into clien_info (id, name, phone, 
      address, wechat, qq, 
      status, contact_time, customer_type, 
      email, company, department, 
      source, scale_of_company, returnvisit_time, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{contactTime,jdbcType=TIMESTAMP}, #{customerType,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{scaleOfCompany,jdbcType=VARCHAR}, #{returnvisitTime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oumuv.entity.ClienEntity" >
    insert into clien_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="contactTime != null" >
        contact_time,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="scaleOfCompany != null" >
        scale_of_company,
      </if>
      <if test="returnvisitTime != null" >
        returnvisit_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="contactTime != null" >
        #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="scaleOfCompany != null" >
        #{scaleOfCompany,jdbcType=VARCHAR},
      </if>
      <if test="returnvisitTime != null" >
        #{returnvisitTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oumuv.entity.ClienEntity" >
    update clien_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="contactTime != null" >
        contact_time = #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="scaleOfCompany != null" >
        scale_of_company = #{scaleOfCompany,jdbcType=VARCHAR},
      </if>
      <if test="returnvisitTime != null" >
        returnvisit_time = #{returnvisitTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oumuv.entity.ClienEntity" >
    update clien_info
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      contact_time = #{contactTime,jdbcType=TIMESTAMP},
      customer_type = #{customerType,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      scale_of_company = #{scaleOfCompany,jdbcType=VARCHAR},
      returnvisit_time = #{returnvisitTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!--*************************************************************-->


  <select id="getClienEntityByFiltrate" resultType="com.oumuv.core.info.ClienInfo">
    SELECT
    c.*,u.id user.id,u.username user.username
    FROM clien_info c
    INNER JOIN user_info u ON c.uid=u.id
    where c.`name` LIKE BINARY '%%'
    <if test="source != null" >
      AND c.source IN (#{source})
    </if>
    <if test="constomerType != null" >
      AND c.customer_type IN (#{constomerType})
    </if>
    <if test="status != null" >
      AND c.`status` IN (#{status})
    </if>
    <if test="offset != null" >
      LIMIT #{offset}
    </if>
  </select>


</mapper>