<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oumuv.dao.RightEntityMapper">
  <resultMap id="BaseResultMap" type="com.oumuv.entity.RightEntity">
    <id column="right_code" jdbcType="BIGINT" property="rightCode" />
    <result column="right_parent_code" jdbcType="BIGINT" property="rightParentCode" />
    <result column="right_type" jdbcType="INTEGER" property="rightType" />
    <result column="right_text" jdbcType="VARCHAR" property="rightText" />
    <result column="right_url" jdbcType="VARCHAR" property="rightUrl" />
    <result column="right_tip" jdbcType="VARCHAR" property="rightTip" />
    <result column="ispatent" jdbcType="BIT" property="ispatent" />
  </resultMap>
  <sql id="Base_Column_List">
    right_code, right_parent_code, right_type, right_text, right_url, right_tip, ispatent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from right_info
    where right_code = #{rightCode,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from right_info
    where right_code = #{rightCode,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oumuv.entity.RightEntity">
    insert into right_info (right_code, right_parent_code, right_type, 
      right_text, right_url, right_tip, 
      ispatent)
    values (#{rightCode,jdbcType=BIGINT}, #{rightParentCode,jdbcType=BIGINT}, #{rightType,jdbcType=INTEGER}, 
      #{rightText,jdbcType=VARCHAR}, #{rightUrl,jdbcType=VARCHAR}, #{rightTip,jdbcType=VARCHAR}, 
      #{ispatent,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.oumuv.entity.RightEntity">
    insert into right_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rightCode != null">
        right_code,
      </if>
      <if test="rightParentCode != null">
        right_parent_code,
      </if>
      <if test="rightType != null">
        right_type,
      </if>
      <if test="rightText != null">
        right_text,
      </if>
      <if test="rightUrl != null">
        right_url,
      </if>
      <if test="rightTip != null">
        right_tip,
      </if>
      <if test="ispatent != null">
        ispatent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rightCode != null">
        #{rightCode,jdbcType=BIGINT},
      </if>
      <if test="rightParentCode != null">
        #{rightParentCode,jdbcType=BIGINT},
      </if>
      <if test="rightType != null">
        #{rightType,jdbcType=INTEGER},
      </if>
      <if test="rightText != null">
        #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null">
        #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null">
        #{rightTip,jdbcType=VARCHAR},
      </if>
      <if test="ispatent != null">
        #{ispatent,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oumuv.entity.RightEntity">
    update right_info
    <set>
      <if test="rightParentCode != null">
        right_parent_code = #{rightParentCode,jdbcType=BIGINT},
      </if>
      <if test="rightType != null">
        right_type = #{rightType,jdbcType=INTEGER},
      </if>
      <if test="rightText != null">
        right_text = #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null">
        right_url = #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null">
        right_tip = #{rightTip,jdbcType=VARCHAR},
      </if>
      <if test="ispatent != null">
        ispatent = #{ispatent,jdbcType=BIT},
      </if>
    </set>
    where right_code = #{rightCode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oumuv.entity.RightEntity">
    update right_info
    set right_parent_code = #{rightParentCode,jdbcType=BIGINT},
      right_type = #{rightType,jdbcType=INTEGER},
      right_text = #{rightText,jdbcType=VARCHAR},
      right_url = #{rightUrl,jdbcType=VARCHAR},
      right_tip = #{rightTip,jdbcType=VARCHAR},
      ispatent = #{ispatent,jdbcType=BIT}
    where right_code = #{rightCode,jdbcType=BIGINT}
  </update>
  
  
<!--   ************************ -->
  <select id="getRightByUId" parameterType="java.lang.Long" resultMap="BaseResultMap">
<!--     select  -->
<!--     <include refid="Base_Column_List" /> -->
<!--     from right_info -->
<!--     where right_code in(select rr.rf_right_code from role_right_info rr where rr.rf_role_id=#{rightCode,jdbcType=BIGINT}) -->
			select r.*
			from right_info r
			INNER JOIN role_right_info rr ON rr.rf_right_code=r.right_code
			INNER JOIN role_info ro ON ro.role_id=rr.rf_role_id
			INNER JOIN user_role_info uf ON uf.rid=ro.role_id
			INNER JOIN user_info u ON u.id=uf.uid
			where u.id=#{rightCode,jdbcType=BIGINT}
			GROUP BY r.right_code
  </select>
  <select id="getRightByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from right_info
    where right_parent_code = #{right_parent_code,jdbcType=BIGINT}
  </select>
  
  <select id="getAllRightEntity" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from right_info
  </select>
  
  <select id="getMenuByLevel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from right_info
    where right_type = #{level}
  </select>
  
</mapper>