##客户管理


<style xmlns="http://java.sun.com/jsf/html">
    .bg_shadow td{
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
    }
    .bg_shadow .table th{
        min-width: 100px;
        max-width: 160px;
    }
     .bg_shadow .table td{
        min-width: 100px;
        max-width: 160px;
    }

</style>

<link rel="stylesheet" href="#springUrl('/css/jquery.page.css')">#*分页css*#

<script src="#springUrl('/js/jquery.page.js')"></script>#*分页js*#
<form id="panel_form" >
<div class="bg_shadow"
     style="width: 100%; height: 100%; border-radius: 8px 8px 8px 8px; padding: 10px 10px 10px 10px;">
    <!-- 筛选 -->
    <div class="row">
        <!-- 搜索输入框 -->
        <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5">
            <div class="input-group">
                <input type="input" id="input-search" name="name"
                       class="form-control" placeholder="客户名称搜索..."> <span
                    class="input-group-btn">
					<button class="btn btn-default" id="reset_btn" type="button" onclick="resetAll()">重置</button>
				</span>
            </div>
        </div>
        <!--  菜单等级下拉框 -->
    ##客户状态
        <div class="btn-group">
            <select id="status_select" class="selectpicker selectclass1" name="status" data-live-search="true" multiple></select>
        </div>
    ##客户类型
        <div class="btn-group">
            <select id="customerType_select" class="selectpicker selectclass1" name="customerType" data-live-search="true" multiple></select>
        </div>
    ##客户来源
        <div class="btn-group">
            <select id="source_select" class="selectpicker selectclass1" name="source" data-live-search="true" multiple></select>
        </div>
        <script>

            var status_select = $("#status_select");
            var customerType_select = $("#customerType_select");
            var source_select = $("#source_select");
            // 客户状态
            status_select.append("<option value='潜在客户' >潜在客户</option>");
            status_select.append("<option value='意向客户' >意向客户</option>");
            status_select.append("<option value='成交客户' >成交客户</option>");
            status_select.append("<option value='无效客户' >无效客户</option>");
            // 客户类型
            customerType_select.append("<option value='潜在客户' >潜在客户</option>");
            customerType_select.append("<option value='普通客户' >普通客户</option>");
            customerType_select.append("<option value='VIP客户' >VIP客户</option>");
            customerType_select.append("<option value='代理商' >代理商</option>");
            customerType_select.append(" <option value='合作伙伴' >合作伙伴</option>");
            // 客户来源
            source_select.append("<option value='电话来访' >电话来访</option>");
            source_select.append("<option value='客户介绍' >客户介绍</option>");
            source_select.append("<option value='媒体宣传' >媒体宣传</option>");
            source_select.append("<option value='促销活动' >促销活动</option>");
            source_select.append("<option value='老客户介绍' >老客户介绍</option>");
            source_select.append("<option value='互联网' >互联网</option>");
            source_select.append("<option value='公开招标' >公开招标</option>");
            source_select.append("<option value='其它' >其它</option>");

            status_select.selectpicker({
                noneSelectedText : '客户状态'//默认显示内容
            });
            customerType_select.selectpicker({
                noneSelectedText : '客户类型'//默认显示内容
            });
            source_select.selectpicker({
                noneSelectedText : '客户来源'//默认显示内容
            });
            $(".selectclass1").selectpicker({
                width:"120px"
            });
            $('.selectclass1').selectpicker('refresh');
        </script>
        <!-- 		<div class="btn btn-warning" id="edit_btn" onclick="edit()">编辑</div> -->
        <div class="btn btn-success" id="add_btn" onclick="add()">添加</div>
        <!-- 		<div class="btn btn-danger" id="del_btn" onclick="del()">删除</div> -->
    </div>
    <h3>客户列表
        <a class="pull-right" style="font-size: 14px;" data-toggle='tooltip' title="下载">&nbsp;下载&nbsp;</a>
        <a class="pull-right" onclick="imports()" style="font-size: 14px;" data-toggle='tooltip' title="上传">&nbsp;上传&nbsp;</a>
    </h3><hr>
    <div style="overflow:auto;">


        <table class="table table-hover" style="min-width:815px;">
            <thead>
            <tr>
                <th style="min-width: 50px">序号</th>
                <th>客户名</th>
                <th>联系电话</th>
                <th>微信</th>
                <th>QQ</th>
                <th>email</th>
                <th>创建时间</th>
                <th>客户类型</th>
                <th>公司</th>
                <th>公司规模</th>
                <th>客户来源</th>
                <th>下次回访时间</th>
                <th>客户负责人</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody id="tbody_content">

            </tbody>
        </table>
    </div>
    <!-- 	分页 -->
    <div class="footer" style="position:relative;height:50px;">
    ##   跳转页
        <input type="hidden" id="pagenum" name="pagenum" value="1">
    ##   页面大小
        <select type="hidden" id="pagesize" name="pagesize" style="position: absolute;top: 50%;transform: translateY(-50%);float:left;left:10px;">
            <option value="10" selected >10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    ##   分页标题
        <span id="page_text" style="position: absolute;top: 50%;transform: translateY(-50%);margin-left: 50px;float:left;left:10px;"></span>
    ##   分页导航
        <div id="page_sorter" style="position: absolute;float: right;height: 30px;margin: auto 1px;top: 50%;right: 10px;transform: translateY(-50%);">

        </div>
       #* <ul id="page_sorter" class="pagination pagination-sm" style="position: absolute;float: right;height: 30px;margin: auto 1px;top: 50%;right: 10px;transform: translateY(-50%);">
        </ul>*#
    </div>
</div>
</form>




<script>
    $(function(){
        $("[data-toggle='tooltip']").tooltip();
        loadByFiltrate();//初始化

        // var flag = false;
        var timer;
        $('#input-search').keydown(function() {
            clearTimeout(timer);
            // flag = true;
            timer = setTimeout(function() {
                // flag = false;
                loadByFiltrate();
            }, 1000);
        })
        $('.selectclass1').change(function(){
            clearTimeout(timer);
            // flag = true;
            timer = setTimeout(function() {
                // flag = false;
                loadByFiltrate();
            }, 2000);
        })
        $('#pagesize').change(function(){
            clearTimeout(timer);
            // flag = true;
            timer = setTimeout(function() {
                // flag = false;
                loadByFiltrate();
            }, 2000);
        })

        //分页跳转
        // $('#page_sorter').on('click','.pageindex',function() {
        //     $('.pageindex').removeClass('active');
        //     $(this).addClass('active');
        //     var num = $(this).find('a').html();
        //     var index = $('.pageindex').index(this);
        //     console.log(index)
        //     loadByFiltrateOnPageNum(num);//跳转请求
        // })

        alertMsg('info',"小贴士：鼠标右键可以进行编辑、删除操作哦",5000);
    })

    //页数跳转
    function loadByFiltrateOnPageNum(pagenum){
        $('#pagenum').val(pagenum);
        var params = $("#panel_form").serialize();
        $('#tbody_content').load("#springUrl('/word/getClienList.do')",params);

    }
    //根据条件筛选加载数据
    function loadByFiltrate(){
        var params = $("#panel_form").serialize();
         $('#tbody_content').load("#springUrl('/word/getClienList.do')",params,function() {
            resetPage();
        });
    }
    //重置分页控件
    function resetPage(){
        var params = $("#panel_form").serialize();
        $.ajax({
            url:"#springUrl('/word/resetpage.do')",
            type:'post',
            async:false,
            data:params,
            dataType:'text',
            success:function(data) {
                var allcount = data;//总数据
                var pagesize = $('#pagesize').val();;//分页大小
                var pagenum = $('#pagenum').val();;//当前页
                var pagecount =  Math.ceil(data/pagesize);//总页数
                $('#page_text').html("显示第1页记录，共"+pagecount+"页，"+data+"条数据")
                $("#page_sorter").Page({
                    totalPages: pagecount,//分页总数
                    liNums: 7,//分页的数字按钮数(建议取奇数)
                    activeClass: 'activP', //active 类样式定义
                    callBack : function(page){
                        console.log(page)
                        loadByFiltrateOnPageNum(page)
                    }
                });
            }
        });
    }



    function check(){
        var name = $("#name").val();
        var phone = $("#phone").val();
        var customerType = $("#customerType").val();
        var status = $("#status").val();
        var source = $("#source").val();
        if(name==""){
            alert("请输入姓名")
            return false;
        }
        if(phone==""){
            alert("请输入联系电话")
            return false;
        }else if(isNaN(phone)||phone.length!=11){
            alert("电话号码有误")
            return false;
        }
        if(customerType==""){
            alert("请选择客户类型")
            return false;
        }
        if(status==""){
            alert("请选择客户状态")
            return false;
        }
        if(source==""){
            alert("请选择客户来源")
            return false;
        }
        return true;

    }

    //重置
    function resetAll() {
        $('#input-search').val('');
        $('.selectpicker').selectpicker('val','');
        loadByFiltrate();
    }

    //添加
    function add() {
         $('#myModal').load("#springUrl('/word/addclienManagePage.do')").modal('show');
    }

    function imports(){
        $('#myModal').load("#springUrl('/word/importPage.do')").modal('show');
    }
</script>