<style>
li {
	text-align: center;
}

.test {
	border: 1px red solid;
}

#nav {
	width: 200px;
	margin-top: 50px;
}

#nav .collapse {
	width: 100%;
	padding: 0px;
}

.nav_div {
	width: 20%;
	float: left;
	padding-left: 5px;
	padding-top: 2px;
}

.nav_div>div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav_div nav,.nav_div>div {
	box-shadow: 1px 1px 8px #C0C0C0;
}

#nav_btn {
	display: none;
}

.word_div {
	float: right;
	width: 79%;
	top: 0px;
	padding: 10px 10px 10px 10px;
}
.charts_a{
		height: 400px;
	}
@media screen and (max-width:910px) and (min-width:480px) {
}

@media screen and (max-width:480px) {
	#nav {
		width: 200px;
		margin-top: -50px;
		float: right;
		right: 0px;
		position: relative;
	}
	#nav .collapse {
		position: fixed;
		width: 200px;
		margin-top: 50px;
		background: white;
	}
	#nav_btn {
		display: block;
		position: fixed;
		right: 10px;
		top: 9px;
		background: #4f9fcf;
		border: 0px;
	}
	.nav_div,.calendar_div {
		display: none;
	}
	.nav_div {
		width: 200px;
		float: right;
		margin-top: 2px;
		position: fixed;
		z-index: 9999;
		right: 1px;
	}
	.word_div {
		float: none;
		width: 100%;
	}
	.nav-stacked>li+li {
		margin-top: 0px;
	}
	.nav-stacked>li {
		background: white;
	}
	.charts_a{
		height: 300px;
	}
}
</style>
<!-- 引入 ECharts 文件 -->
<script src="#springUrl('/js/echarts.min.js')"></script>
<div class="">
	<span class="btn glyphicon glyphicon-option-horizontal" id="nav_btn"
		style="color: white; z-index: 999" onclick="nav_control()"></span>
	<!-- 导航模块 -->
	<div class=" nav_div">
		<nav style="" class=" nav_list">
			<ul class="nav nav-pills nav-stacked " style="width: 100%;">
				<li role="presentation" class="active"><a href="#">系统管理</a></li>
				<li role="presentation"><a href="#">营销管理</a></li>
				<li role="presentation" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false">客户管理<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="#">权限管理</a></li>
						<li role="presentation"><a href="#">用户管理</a></li>
					</ul></li>
				<li role="presentation"><a href="#">服务管理</a></li>
				<li role="presentation"><a href="#">统计报表</a></li>
				<li role="presentation"><a href="#">基本数据</a></li>
			</ul>
		</nav>
		<!-- 日历 -->
		<div style="width: 100%; height: 320px" class="calendar_div">
			<iframe src="#springUrl('/calendar.html')" height="100%" width="100%"
				scrolling="no" style="border: 0px; padding: 1px;"></iframe>
		</div>
	</div>

	<!-- word space -->
	<div class="word_div" style="">
		<div class="bg_shadow charts_a" style="width: 100%;">
				<div id="charts" style="width: 100%;height: 100%;margin-bottom: 1px"></div>
		</div>
	</div>


</div>
<script type="text/javascript">
$(function(){
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('charts'));
	var k = [];
	var v = [];
	$.ajax({
		type : "post",
		async : false, //同步执行
		url : "#springUrl('/user/getloginrecords.do')",
		data : {},
		dataType : "json", //返回数据形式为json
		success : function(json) {
			if (json) {
				
				for ( var key in json) {
					k.push(key);
					v.push(json[key]+"")
				}
			}
		},
		error : function(errorMsg) {
			alert("不好意思,图表请求数据失败啦!");
			myChart.hideLoading();
		}
	})
	// 指定图表的配置项和数据
	var option = {
		title : {
			text : '近30天登录记录',
			x : 'center'
		},
		tooltip : {},
		legend : {
			right : 10,
			data : [ '次/天' ],
			textStyle : {
				fontSize : 10
			}
		},
		xAxis : {
			data : k
// 				(function() {
// 				var arr = [];
// 				$.ajax({
// 					type : "post",
// 					async : false, //同步执行
// 					url : "#springUrl('/text.json')",
// 					data : {},
// 					dataType : "json", //返回数据形式为json
// 					success : function(json) {
// 						if (json) {
// 							for ( var key in json) {
// 								arr.push(key);
// 							}
// 						}
// 					},
// 					error : function(errorMsg) {
// 						alert("不好意思,图表请求数据失败啦!");
// 						myChart.hideLoading();
// 					}
// 				})
// 				console.log(arr)
// 				return arr;
// 			})()

		},
		yAxis : {},
		series : [ {
			name : '次/天',
			type : 'bar',
			data : v

		} ],
		dataZoom : [ {
			type : 'slider', 
			start : 0,
			end : 30
		}, { 
			type : 'inside',
			start : 0, 
			end : 30
		} ],
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
	//浏览器宽高改变时重置图标尺寸 
	window.onresize = function() {
		myChart.resize();
	};
})
</script>
<script type="text/javascript">
	/*隐藏/显示菜单导航栏*/
	function nav_control() {
		$('.nav_div').toggle(300);
		blurback();
	}

	$(".nav_list>ul>li").click(function() {
		$(".nav_list li").removeClass("active")
		$(this).addClass("active")
	})
</script>
