<style>
li {
	text-align: center;
}

.tests {
	border: 1px red solid;
}

#nav {
	width: 200px;
	margin-top: 50px;
}

#nav .collapse {
	width: 100%;
	padding: 0px;
}

.nav_div {
	width: 20%;
	float: left;
	padding-left: 5px;
}

.nav_div>div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav_div nav,.nav_div>div {
	box-shadow: 1px 1px 8px #C0C0C0;
}

#nav_btn {
	display: none;
}

.word_div {
	float: right;
	width: 79%;
	top: 0px;
}

@media screen and (max-width:910px) and (min-width:480px) {
	#nav {
		min-width:
	}
}

@media screen and (max-width:480px) {
	#nav {
		width: 200px;
		margin-top: -50px;
		float: right;
		right: 0px;
		position: relative;
	}
	#nav .collapse {
		position: fixed;
		width: 200px;
		margin-top: 50px;
		background: white;
	}
	#nav_btn {
		display: block;
		position: fixed;
		right: 0px;
		top: 9px;
		background: #4f9fcf;
		border: 0px;
	}
	.calendar_div,.nav_list {
		display: none;
	}
}
</style>
<div class="test">
	<button id="btn" onclick="shownav()">123</button>
	<input type="text" id="11" value="123">
	<span class="btn glyphicon glyphicon-option-horizontal" id="nav_btn"
		style="color: white;"></span>
	<!-- 导航模块 -->
	<div class="test nav_div">
		<nav style="" class="test nav_list">
			<ul class="nav nav-pills nav-stacked " style="width: 100%;">
				<li role="presentation" class="active"><a href="#">系统管理</a></li>
				<li role="presentation"><a href="#">营销管理</a></li>
				<li role="presentation" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false">客户管理<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="#">权限管理</a></li>
						<li role="presentation"><a href="#">用户管理</a></li>
					</ul></li>
				<li role="presentation"><a href="#">服务管理</a></li>
				<li role="presentation"><a href="#">统计报表</a></li>
				<li role="presentation"><a href="#">基本数据</a></li>
			</ul>
		</nav>
		<!-- 日历 -->
		<div style="width: 100%; height: 310px" class="calendar_div">
			<iframe src="#springUrl('/calendar.html')" height="100%" width="100%"
				scrolling="no" style="border: 0px; padding: 1px;"></iframe>
		</div>
	</div>

	<!-- word space -->
	<div class="test word_div" style="" ></div>
</div>

<script type="text/javascript">
	
</script>
