<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>CRM index</title>

<!-- Bootstrap -->
<link href="#springUrl('/css/bootstrap.css')"
	rel="stylesheet">

<style>
	.test{
		border:1px red solid;
	}
</style>
</head>
<body>
	<!-- 天气组件 -->
	<div>
		<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=99" width="160" height="36" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" disabled="disabled"></iframe>
		<div class="test" style="position:absolute;top:0px; background:#6f5499;FILTER: alpha(opacity=0);-moz-opacity: 0;opacity:0;width:100%;height:35px" alt="遮罩层"></div>
	</div>
	msg
	
</body>

<script src="#springUrl('/js/jquery.min.js')"></script>
<script src="#springUrl('/js/bootstrap.js')"></script>
<script type="text/javascript">
</script>
</html>