<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>CRM index</title>

<!-- Bootstrap -->
<link href="#springUrl('/css/bootstrap.css')" rel="stylesheet">
<link href="#springUrl('/css/style.css')" rel="stylesheet">

<style>
/* 设置滚动条的样式 */
::-webkit-scrollbar {
width:9px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
border-radius:10px;
background:rgba(0,0,0,0.1);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(255,0,0,0.4);
}

body {
	margin: 0px;
	padding: 0px;
}

.page {
	width: 80%;
	height:100%;
}

.conten_div{
	margin-top: 120px;
}

@media screen and (max-width:910px) and (min-width:480px) {

}
@media screen and (max-width:480px) {
	
	.page {
		position: fixed;
		top: 0px;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	

	.div-nav-s ul li {
		width: 33%;
	}
	
	.btn-uitl .btn{
		width:48%;
		margin:2px 0px 3px 0px;
		padding: 0px;
	}
	.btn-uitl .text-nav{
		display:block;	
	}
	.conten_div{
		width:100%;
		height: 100%;
		margin-top:50px;
		padding-bottom: 94px;
	}
}
</style>

</head>
<body>
	<div class="container page test">
		<!-- 头像框 -->
		<div class="div-himg" onclick="showbtn()">
			<div class="himg" style="float: left;">
				<img alt="头像" style="width: 100%;"
					src="#springUrl('/images/headM.png')">
			</div>
			<span id="title-nav" style="">Home</span>
		</div>
		
		<!-- 工具按钮 -->
		<div class="btn-uitl " style="float:right;">
		 	<a class="btn  glyphicon glyphicon-cog" aria-hidden="true"><span class="text-nav">设置</span></a>
		 	<a class="btn  glyphicon glyphicon-log-out" aria-hidden="true" href="#springUrl('/user/logout.do')"><span class="text-nav">注销登录</span></a>
		</div>
		
		<!-- 主导航 -->
		<div class="div-nav ">
			<div class="div-nav-s" style="">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active navlist btn_nav" link-window="user/home"><a
						class="btn-lg glyphicon glyphicon-home text-nav"><span
							class="text-nav" > Home</span></a></li>
					<li role="presentation" class="navlist btn_nav" link-window="word/word"><a
						class="btn-lg glyphicon glyphicon-folder-open text-nav"><span
							class="text-nav" > Work</span></a></li>
					<li role="presentation" class="navlist btn_nav" link-window="msg/msg"><a
						class="btn-lg glyphicon glyphicon-comment text-nav"><span
							class="text-nav" > Messages</span></a></li>
				</ul>
			</div>
		</div>
		
		<!-- 内容 -->
		<div class="test conten_div  " id="conten" style="">
		<div  style="width: 100%;height:100%;overflow: auto"></div>
<!-- 			<iframe id="iframe_window" width="100%" height="100%" src="<%=request.getContextPath()%>/jsp/user/home.jsp" frameborder="0" scrolling="auto"> -->
				
<!-- 			</iframe> -->
			
		</div>
		</div>
		
	</div>
</body>

<script src="#springUrl('/js/jquery.min.js')"></script>
<script src="#springUrl('/js/bootstrap.js')"></script>

<script type="text/javascript">
	/*点击主导航栏切换页面 */
	$(".navlist").click(function() {
		$(".navlist").removeClass("active");
		$(this).addClass("active");
		$("#title-nav").html($(this).find("span").html());
// 		$('#iframe_window').attr("src","<%=request.getContextPath()%>/jsp/"+$(this).attr("link-window"));
		jQuery('#conten div').load("#springUrl('/pageturn.do')", {
			page : $(this).attr("link-window")
		});
	});
	/*显示/隐藏工具栏*/
	function showbtn(){
		if(screen.width <= 480){
			  $(".btn-uitl").toggle(200);
		}
	}
// 	window.onscroll = function(){ 
// 	 	if(screen.width <= 480){
// 		    var t = document.documentElement.scrollTop || document.body.scrollTop;  
// 		    if( t >= 300 ) { 
// 		    	alert(1)
// 		    	$('.div_weather').hide(200);
// 		    }
// 	 	}
// 	} 
	//监听某一个元素的滚动条
	$('#conten div').scroll(function() {
		if (screen.width <= 480) {
			//$('#conten div').scrollTop()获取该元素滚动条滚动后的距离
			if ($('#conten div').scrollTop() >= 50) {
				$('.div_weather').hide(200);
			}
			if ($('#conten div').scrollTop() <= 45) {
				$('.div_weather').show(200);
			}
		}
	});
	$(function(){
		jQuery('#conten div').load("#springUrl('/pageturn.do')", {
			page : "user/home"
		});
	})
</script>
</html>