<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
<head>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>CRM index</title>

<!-- Bootstrap -->
    <link href="#springUrl('/css/bootstrap.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/css/toastr.css')">#*提示控件*#
    <link href="#springUrl('/css/style.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/css/jquery-labelauty.css')">#*复选框控件*#
    <link href="#springUrl('/css/bootstrap-select.min.css')" rel="stylesheet">#*下拉框控件*#
    <link rel="stylesheet" href="#springUrl('/css/font-awesome-4.7.0/css/font-awesome.css')">#*字体图标库*#

    <script src="#springUrl('/js/jquery.min.js')"></script>
    <script src="#springUrl('/js/bootstrap.js')"></script>
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script> -->
    <script src="#springUrl('/js/toastr.js')"></script>
    <!-- 引入 ECharts 文件 -->
    <script src="#springUrl('/js/echarts.min.js')"></script>
    <script src="#springUrl('/js/bootstrap-treeview.js')"></script>
    <script src="#springUrl('/js/BootstrapMenu.min.js')"></script>
    <script src="#springUrl('/js/jquery-labelauty.js')"></script>
    <script src="#springUrl('/js/bootstrap-select.min.js')"></script>
    <script src="#springUrl('/js/jquery.form.min.js')"></script>


<style>
.test{
	border: 1px red solid;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 9px;
    height: 9px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
}

.bg_shadow {
	box-shadow: 0px 0px 10px #C0C0C0;
}

body {
	margin: 0px;
	padding: 0px;
}

.page {
	width: 80%;
	height: 100%;
}

.conten_div {
	margin-top: 120px;
}

.blurclass {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,
		MakeShadow=false ); /* IE6~IE9 */
}

@media screen and (max-width:910px) and (min-width:480px) {
}

@media screen and (max-width:480px) {
	.page {
		position: fixed;
		top: 0px;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	.div-nav-s ul li {
		width: 33%;
	}
	.btn-uitl .btn {
		width: 48%;
		margin: 2px 0px 3px 0px;
		padding: 0px;
	}
	.btn-uitl .text-nav {
		display: block;
	}
	.conten_div {
		width: 100%;
		height: 100%;
		margin-top: 50px;
		padding-bottom: 94px;
	}
}
</style>


<script>
	function initPage(){   
	    $('#loading_div').css("display","none");
	} 
	function loadingPage(){
		$('#loading_div').css("display","block");
	}
	
</script>
</head>
<body>
	<div id="loading_div" style="width: 100%;height: 100%;position: fixed;z-index: 99999;/* display:none; */">
		<img style="position: fixed;left: 50%;top:50%;transform: translate(-50%, -50%);z-index: 9999;" src="#springUrl('/images/loading.gif')">
		<h3 style="position: fixed;color: rgb(51, 51, 51);z-index: 99999;left: 50%;top: 60%;font-weight: 600;transform: translate(-50%, -50%);">Loading...</h3>
		<div style="width: 100%;height: 100%;position: fixed;background: #b3b3b3; FILTER: alpha(opacity =   0.3); -moz-opacity: 0.3; opacity: 0.3;"></div>
	</div>
	<div>
		<div class="container page ">
			<div>
			<!-- 头像框 -->
			<div class="div-himg" onclick="showbtn()">
				<div class="himg" style="float: left;">
					<img alt="头像" style="width: 100%;"
						src="#if(${user.himg})#springUrl(${user.himg}) #else #springUrl('/images/headM.png')#end">
				</div>
				<span id="title_nav" style="">Home</span>
			</div>

			<!-- 工具按钮 -->
			<div class="btn-uitl " style="float: right; z-index: 99">
                <a class="btn  glyphicon glyphicon-user" aria-hidden="true"><span
                        class="text-nav"> 你好！${user.name}</span></a>
				<a class="btn  glyphicon glyphicon-cog" aria-hidden="true"><span
					class="text-nav">设置</span></a> <a
					class="btn  glyphicon glyphicon-log-out" aria-hidden="true"
					href="#springUrl('/user/logout.do')"><span class="text-nav">注销登录</span></a>
			</div>
			<!-- 主导航 -->
			<div class="div-nav ">
				<div class="div-nav-s" style="">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active navlist btn_nav"
							link-window="user/home"><a
							class="btn-lg glyphicon glyphicon-home text-nav"><span
								class="text-nav"> Home</span></a></li>
						<li role="presentation" class="navlist btn_nav"
							link-window="word/word"><a
							class="btn-lg glyphicon glyphicon-folder-open text-nav"><span
								class="text-nav"> Work</span></a></li>
						<li role="presentation" class="navlist btn_nav"
							link-window="msg/msg"><a
							class="btn-lg glyphicon glyphicon-comment text-nav"><span
								class="text-nav"> Messages</span></a></li>
					</ul>
				</div>
			</div>
			</div>
			<!-- 透明背景 -->
			<div class="bg_div"
				style="position: absolute; height: 100%; width: 100%; background: black; FILTER: alpha(opacity =   0.1); -moz-opacity: 0.1; opacity: 0.1; display: none; z-index: 555;"></div>
			<!-- 内容 -->
			<div class=" conten_div " id="conten" style="">
				<div style="width: 100%; height: 100%; overflow: auto;padding-top:10px"></div>
			</div>
			
		</div>

	</div>
		<!-- 			内容编辑面板 -->
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- 按钮触发模态框 -->
	
	#parse("./views/ms.vm")
</body>

<script type="text/javascript">
	/*点击主导航栏切换页面 */
	$(".navlist").click(function() {
		// loadingPage();
		$(".navlist").removeClass("active");
		$(this).addClass("active");
		$("#title_nav").html($(this).find("span").html());
		jQuery('#conten div').empty();
		jQuery('#conten div').load("#springUrl('/pageturn.do')", {
			page : $(this).attr("link-window")
		},function(){initPage();});
	});
	/*显示/隐藏工具栏*/
	function showbtn() {
		if ($(window).width() <= 480) {
			$(".btn-uitl").toggle(200);
		}
	}
	//监听某一个元素的滚动条
	$('#conten div').scroll(function() {
		if ($(window).width() <= 480) {
			//$('#conten div').scrollTop()获取该元素滚动条滚动后的距离
			if ($('#conten div').scrollTop() >= 50) {
				$('.div_weather').hide(200);
			}
			if ($('#conten div').scrollTop() <= 45) {
				$('.div_weather').show(200);
			}
		}
	});
	//初始化页面
	$(function() {
		jQuery('#conten div').load("#springUrl('/pageturn.do')", {
			page : "user/home"
		},function(){initPage();});

	});

	//背景模糊
	function blurback() {
		$('.word_div,.div-nav').toggleClass("blurclass");
		$(".bg_div").toggle();
	}
	
	// 获取位置信息
/*	 $(function() {
         alertMsg('info',"浏览器请求获取位置信息...");
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(
						getPositionSuccess, getPositionError);
			} else {
				alert("您的浏览器不支持自动定位!");
			}
	})*/
	
	function getPositionSuccess(position) {
// 		var lat = position.coords.latitude;
// 		var lng = position.coords.longitude;
// 		var address;
// 		var map = new BMap.Map("allmap");
// 		var point = new BMap.Point(lng, lat);
// 		var gc = new BMap.Geocoder();
// 		gc.getLocation(point, function(rs) {
// 			var addComp = rs.addressComponents;
// 			address = addComp.province + ", " + addComp.city + ", "
// 					+ addComp.district + ", " + addComp.street + ", "
// 					+ addComp.streetNumber;
// 			alert("address=" + address);
// 		});
// 		alert("longitude=" + lng + "  latitude=" + lat);

		var latlon = position.coords.latitude+','+position.coords.longitude;   
	       
	    //baidu Map API   
	    var url = "http://api.map.baidu.com/geocoder/v2/?ak=C93b5178d7a8ebdb830b9b557abce78b&callback=renderReverse&location="+latlon+"&output=json&pois=0";   
	    $.ajax({    
	        type: "GET",    
	        dataType: "jsonp",    
	        url: url,   
	        beforeSend: function(){
// 	            $("#baidu_geo").html('正在定位...');
	        },   
	        success: function (json) {    
	            if(json.status==0){   
	                alert(json.result.formatted_address);   
	            }   
	        },   
	        error: function (XMLHttpRequest, textStatus, errorThrown) {
                alertMsg('error',"地址位置获取失败");
	        }
	    });   
	}

	function getPositionError(error) {
		switch (error.code) {
		case error.TIMEOUT:
            alertMsg('error',"连接超时，请重试");
			break;
		case error.PERMISSION_DENIED:
			alertMsg('warning',"您拒绝了使用位置共享服务");
			break;
		case error.POSITION_UNAVAILABLE:
			alertMsg('error',"亲爱的火星网友，非常抱歉，我们暂时无法为您所在的星球提供位置服务");
			break;
		}
	}

    /**
	 * 消息提示
	 * @param state 状态
	 * @param msg 消息
	 * @param timeout 显示时间
     */
	function alertMsg(state,msg,timeout) {
        if(null!=timeout) {
            timeout = timeout;
        }else{
            timeout = 5000;
        }
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            positionClass: "toast-top-right",
            onclick: null,
            showDuration: "300",
            hideDuration: "1500",
            timeOut: timeout,
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
		switch (state){
			case 'success':
                toastr.success(msg);
                break;
            case 'info':
                toastr.info(msg);
                break;
            case 'warning':
                toastr.warning(msg);
                break;
            case 'error':
                toastr.error(msg);
                break;

		}
    }
</script>
</html>