<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>CRM用户注册</title>

<!-- Bootstrap -->
<link href="#springUrl('/css/bootstrap.css')" rel="stylesheet">
<link href="#springUrl('/css/bootstrapValidator.css')" rel="stylesheet">
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script> -->


<style>
.test{
	border: 1px red solid;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 9px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
}

.bg_shadow {
	box-shadow: 0px 0px 10px #C0C0C0;
}
.register_div h2,.register_div label{
	color: white;
}
</style>
<script src="#springUrl('/js/jquery.min.js')"></script>
<script src="#springUrl('/js/bootstrap.js')"></script>
<script src="#springUrl('/js/bootstrapValidator.js')"></script>
</head>
<body style="background:url(#springUrl('/images/background_img3.jpg'));background-size:100% 100%;background-attachment: fixed; ">
<div class="container register_div">
        <div class="row">
            <!-- form: -->
            <section>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                        <h2>Sign up <label style="font-size: 14px">>>用户注册</label></h2>
                    </div>

                    <form id="defaultForm" method="post" class="form-horizontal" action="target.php">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">姓名</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="name" placeholder="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="email" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">确认密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="confirmPassword" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">性别</label>
                            <div class="col-lg-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="male" /> 男
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="female" /> 女
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="other" /> 保密
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">出生年月</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="birthday" /> 
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!-- :form -->
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#defaultForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
//             firstName: {
//                 group: '.col-lg-4',
//                 validators: {
//                     notEmpty: {
//                         message: 'The first name is required and cannot be empty'
//                     }
//                 }
//             },
            name: {
                validators: {
                    notEmpty: {
                        message: '请输入你的姓名'
                    }
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: '请输入你的用户名'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: '用户名格式为6到30位字母或数字'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: '用户名不可包含特殊符号'
                    },
                    remote: {
                        type: 'POST',
                        url: 'remote.php',
                        message: '用户名已存在'
                    },
                    different: {
                        field: 'password,confirmPassword',
                        message: '用户名不可与密码相同'
                    }
                }
            },
            email: {
                validators: {
                    emailAddress: {
                        message: '请输入有效的电子邮箱'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '请输入密码'
                    },
                    different: {
                        field: 'username',
                        message: '密码不可与用户名相同'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: '请确认密码'
                    },
                    identical: {
                        field: 'password',
                        message: '密码输入不一致'
                    },
                    different: {
                        field: 'username',
                        message: '密码不ke与用户名相同'
                    }
                }
            },
            birthday: {
                validators: {
                    date: {
                        format: 'YYYY/MM/DD',
                        message: '内容格式不正确'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: '性别不可为空'
                    }
                }
            }
        }
    });

    // Validate the form manually
    $('#validateBtn').click(function() {
        $('#defaultForm').bootstrapValidator('validate');
    });

    $('#resetBtn').click(function() {
        $('#defaultForm').data('bootstrapValidator').resetForm(true);
    });
});
</script>
</body>

</html>