
<!-- Bootstrap -->
<link rel="stylesheet" href="#springUrl('/css/toastr.css')">#*提示控件*#
<link href="#springUrl('/css/style.css')" rel="stylesheet">
<link rel="stylesheet" href="#springUrl('/css/jquery-labelauty.css')">#*复选框控件*#
<link href="#springUrl('/css/bootstrap-select.min.css')" rel="stylesheet">#*下拉框控件*#
<link rel="stylesheet" href="#springUrl('/css/font-awesome-4.7.0/css/font-awesome.css')">#*字体图标库*#

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script> -->
<script src="#springUrl('/js/toastr.js')"></script>
<!-- 引入 ECharts 文件 -->
<script src="#springUrl('/js/echarts.min.js')"></script>



<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
##<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="#springUrl('/js/bootstrap-treeview.js')"></script>
<script src="#springUrl('/js/BootstrapMenu.min.js')"></script>
<script src="#springUrl('/js/jquery-labelauty.js')"></script>
<script src="#springUrl('/js/bootstrap-select.min.js')"></script>
<script src="#springUrl('/js/jquery.form.min.js')"></script>